<% message ||= @message %>
<%= turbo_frame_tag message do %>
  <%= tag.section data: {user: message.user.id,
    'messages-target': 'message'} do %>
    <small><%= l message.created_at, format: :long %></small><br>
    <small><%= l message.updated_at, format: :long %></small>
    <p><%= message.body %></p>
    Author: <%= message.user.name %>
    <br>
    <div class='js-actions d-none'>
      <%= link_to 'Edit', message_path(message), class: 'btn btn-secondary', data: { turbo_method: :patch } %>
      <%= link_to 'Delete', message_path(message), class: 'ms-1 btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </div>
  <% end %>
  
  <%= tag.section data: { controller: 'likes' } do %>
    <%= render 'messages/message_likes', message: message %>
  <% end %>

  <hr>
<% end %>